<template>
    <main>
        <main>
            <div class="container">
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Albums list</h3>
                                </div>
                                <div class="input-group-btn">
                                    <router-link :to="{name:'add-album'}" class="btn btn-lg btn-success">
                                        <i class="fa fa-plus" style="margin-right: 10px;"></i>Add album
                                    </router-link>

                                </div>

                                <!--<div class="form-group">-->
                                <!--<div class="search">-->
                                <!--<input type="text"-->
                                <!--placeholder="Find album"-->
                                <!--v-model="search">-->
                                <!--</div>-->
                                <!--<input type="radio" id="name" value="name" v-model="searchBy">-->
                                <!--<label for="name">By name</label>-->
                                <!--<input type="radio" id="email" value="email" v-model="searchBy">-->
                                <!--<label for="email">By email</label>-->
                                <!--</div>-->

                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Avatar</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(album, index) in albums" :key="album.id">
                                            <td>{{album.id}}</td>
                                            <td> <router-link :to="'/albums/' + album.id">
                                                {{ album.name }}
                                            </router-link>
                                            </td>
                                            <td>{{album.email}}</td>
                                            <td>
                                                <img :src="album.avatar" alt="">
                                            </td>
                                            <td>
                                                <button class="btn btn-success"
                                                        title="Edit"
                                                        @click="showEdit(album, index)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-warning"
                                                        title="Delete"
                                                        @click="deletealbum(album.id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </main>

</template>

<script>
    import {mapGetters} from "vuex";

    export default {
    name: 'AlbumsList',
        computed: {
            ...mapGetters("albums", ["albums"])
        },
        created() {
            this.$store.dispatch("albums/loadAlbums");
        }
  }
</script>

<style scoped>

</style>