<template>
    <header>
        <ul class="page-menu">
            <li class="menu-item">
                <router-link :to="{name:'users'}" class="menu-link">
                    Users
                </router-link>
            </li>
            <li class="menu-item">
                <router-link :to="{name:'albums'}" class="menu-link">
                    Albums
                </router-link>
            </li>
        </ul>
    </header>
</template>

<script>
    export default {}
</script>

<style scoped>
    ul {
        line-height: 1.5em;
        padding-left: 1.5em;
        list-style: none;
    }

    a {
        text-decoration: none;
    }
    a.active{
        color: #399c5a;
    }

    a:hover {
        color: #4fc08d;
    }
</style>