<template>
    <main>
        <div class="container">
            <div class="row">
                <h1>{{ user.name}}</h1>
                <div class="col-md-12">
                    <div class="form-group">
                        <span>Id: </span>
                        <span>{{ user.id}}</span>
                    </div>
                    <div class="form-group">
                        <span>Name: </span>
                        <span>{{ user.name}}</span>
                    </div>
                    <div class="form-group">
                        <span>Email: </span>
                        <span>{{ user.email}}</span>
                    </div>
                    <div class="form-group">
                        <span>Avatar: </span>
                        <img :src="user.avatar" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
  export default {
    name: 'user',
      computed: {
          id(){
              return this.$route.params.id;
          },
          user(){
              return this.$store.getters['users/user'](this.id);
          }
      },
      beforeRouteUpdate(to, from, next) {
          this.id = to.params.id;
          next();
      },
  }
</script>

<style scoped>

</style>