<template>
    <main>
        <div class="container">
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Users list</h3>
                            </div>
                            <div class="input-group-btn">
                                <router-link :to="{name:'add-user'}" class="btn btn-lg btn-success">
                                    <i class="fa fa-plus" style="margin-right: 10px;"></i>Add user
                                </router-link>

                            </div>

                            <!--<div class="form-group">-->
                            <!--<div class="search">-->
                            <!--<input type="text"-->
                            <!--placeholder="Find user"-->
                            <!--v-model="search">-->
                            <!--</div>-->
                            <!--<input type="radio" id="name" value="name" v-model="searchBy">-->
                            <!--<label for="name">By name</label>-->
                            <!--<input type="radio" id="email" value="email" v-model="searchBy">-->
                            <!--<label for="email">By email</label>-->
                            <!--</div>-->

                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Avatar</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(user, index) in users" :key="user.id">
                                        <td>{{user.id}}</td>
                                        <td> <router-link :to="'/users/' + user.id">
                                            {{ user.name }}
                                        </router-link>
                                        </td>
                                        <td>{{user.email}}</td>
                                        <td>
                                            <img :src="user.avatar" alt="">
                                        </td>
                                        <td>
                                            <button class="btn btn-success"
                                                    title="Edit"
                                                    @click="showEdit(user, index)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-warning"
                                                    title="Delete"
                                                    @click="deleteUser(user.id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: 'UsersList',
        data() {
            return {
                newUser: {
                    name: '',
                    email: '',
                    avatar: ''
                }
            };
        },
        computed: {
            ...mapGetters("users", ["users"])
        },
        created() {
            this.$store.dispatch("users/loadUsers");
        }
    }
</script>

<style scoped>

</style>