<template>
    <div id="app">
        <headerView/>
        <div class="view">
            <router-view />
        </div>
    </div>
</template>

<script>
    import headerView from './components/Header'

    export default {
        name: 'App',
        components: {
            headerView,
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        padding: 0 20px;
    }

    .view {
        border: 1px solid #ddd;
        min-height: 500px;
        padding: 10px;
    }
</style>
